body {
  margin: 2.5rem auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

html {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  color: #000000;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}



.search-text {
  font-size: 3.5rem;
  font-weight: 600;
}

.search-bar {
  padding-left: 2.5rem;
}


/*Forecast*/
.today-horizontal-scroll {
  align-items: center;
  display: flex;
  overflow: scroll;
  padding-left: 2.5rem;
}

::-webkit-scrollbar {
  display: none;
}

.today-horizontal-scroll-item {
  margin: auto 15px;
}


.week-horizontal-scroll {
  align-items: center;
  display: flex;
  overflow: scroll;
  padding-left: 2.5rem;
}

.week-horizontal-scroll-item {
  margin: auto 15px;
}

.separator-line {
  margin-right: 30px;
}

.icon-small {
  width: 40px;
}


